@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&family=Poppins:ital,wght@0,400;0,500;0,700;0,900;1,500&family=Questrial&display=swap");
@font-face {
  font-family: "gilroy-regular";
  src: url(./gilroy/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "gilroy-light";
  src: url(./gilroy/gilroy-light.ttf);
}
@font-face {
  font-family: "gilroy-medium";
  src: url(./gilroy/Gilroy-Medium.ttf);
}
@font-face {
  font-family: "gilroy-heavy";
  src: url(./gilroy/Gilroy-ExtraBold.otf);
}
@font-face {
  font-family: "gilroy-bold";
  src: url(./gilroy/Gilroy-Bold.ttf);
}

@font-face {
  font-family: "gilroy-light2";
  src: url(./gilroy/Gilroy-Light.otf);
}
s body {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.navbar {
  margin-top: 15px;
  position: fixed;
  display: flex;
  height: 104px;
  width: 100%;
  background-color: white;
  justify-content: center;
}

.navbar ul li {
  display: inline-block;
  margin: 15px;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
  font-family: "gilroy-medium", sans-serif;
  font-size: 17px;
  font-weight: 700;
}
.logo {
  margin: 5px;
  padding-right: 70px;
}

.logo1 {
  margin: 20px;
  padding-left: 110px;
}

.but1 {
  text-align: center;
  border: medium none;
  cursor: pointer;
  transition: all 0.2s linear 0s;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 107, 255);
  opacity: 1;
  height: 48px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 13px;
  font-family: "gilroy-medium", sans-serif;
}
.but {
  background-color: white;
  background: none;
  font-family: "gilroy-bold", sans-serif;
  border: none;
}
.but1:hover {
  background-color: aliceblue;
}
.banner1 {
  display: flex;
  justify-content: center;
  padding-top: 130px;
}

.block1 {
  padding-top: 70px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
}

.box1 {
  text-align: center;
  padding-left: 40px;

  /* margin: 150px; */
}
.box1 h1 {
  font-size: 67px;
  font-family: "gilroy-heavy", sans-serif;
  letter-spacing: -2px;
  line-height: 70px;
  text-align: left;
  color: rgb(0, 0, 0);
  max-width: 450px;
}
.box1 p {
  font-family: "gilroy-light", sans-serif;
  letter-spacing: -0.01em;
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 18px;
  line-height: 2;
  font-weight: 600;
  padding-top: 101px;
  /* padding-bottom: 32px; */
  max-width: 450px;
}
.signup input {
  border-radius: 40px;
  width: 450px;
  height: 60px;
}
.signup button {
  text-align: center;
  border: medium none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  height: 70px;
  width: 150px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 40px;
  font-size: 15px;
  font-family: "gilroy-medium", sans-serif;
  margin-left: -150px;
}
.banner2 {
  text-align: center;
  font-family: "gilroy-medium", sans-serif;
  font-size: 20px;
  padding: 45px;
  background-color: rgba(220, 220, 220, 0.1);
}

.box3 {
  display: flex;
  justify-content: space-evenly;
}
.box3 img {
  height: 25px;
}
.block2 {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 25px;
  justify-content: space-evenly;
  font-family: "Questrial", sans-serif;
}
.block2 h3 {
  font-size: 45px;
  font-weight: 400;
}
.block2 p {
  font-size: 20px;
}

.banner3 {
  display: flex;
  flex-direction: column;
  font-family: "Questrial", sans-serif;
  text-align: center;
}
.banner3 h4 {
  font-size: 60px;
}
.banner3 p {
  font-size: 25px;
}
.block3 {
  display: flex;
  justify-content: space-evenly;
  font-family: "Questrial", sans-serif;
  margin: 35px;
  font-size: 25px;
  font-weight: bold;
}
.banner4 {
  display: flex;
  width: 100%;
  justify-content: center;
}
.button {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  color: black;
  outline: currentcolor none medium;
  cursor: pointer;
  transition: all 0.2s linear 0s;
  height: 64px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 40px;
  font-family: "gilroy-bold";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1;
}
button:hover {
  border-color: rgb(70, 112, 249);
  color: rgb(70, 112, 249);
}

.banner5 {
  display: flex;
  flex-direction: column;
  font-family: "gilroy-bold";
  text-align: center;
}
.banner5 h4 {
  font-size: 3.25rem;
  line-height: 1.25;
  letter-spacing: -0.05em;
  /* text-align: center; */
  color: rgb(0, 0, 0);
  /* padding-bottom: 48px; */
  /* max-width: 675px; */
}
.banner5 p {
  font-size: 25px;
}
section {
  display: flex;
  justify-content: space-evenly;
  font-family: "gilroy-medium", sans-serif;
  height: 800px;
}
.leftbox {
  margin-left: 250px;
}
.pics {
  display: flex;
  width: 100px;
  margin-top: 50px;
}

.rightbox {
  display: flex;
  flex-wrap: wrap;
}
h6 {
  font-size: 60px;
  font-family: "gilroy-heavy";
}
section h5 {
  font-size: 25px;
  font-family: "gilroy-heavy";
}
section p {
  line-height: 50px;
}
section li {
  line-height: 50px;
  font-family: "gilroy-light";
  text-align: left;
}
.box {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-right: 5px;
}
